@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Pacifico&family=Satisfy&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.resBox {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 80vh; /* Se quiser que a div ocupe toda a altura da viewport */
}

footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 90, 1) 56%, rgba(0, 255, 149, 1) 100%);
    display: flex;
    width: 1920px;
    height: 20vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: purple;
}

.pacifico-regular {
    font-family: 'Pacifico', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: white;
}

.pacifico-regular-normal {
    font-family: serif;
    font-size: 85px;
    color: white;
}

.container-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sociais {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sociais span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sociais span p {
    font-size: 30px;
    padding: 5px;
    margin: 0;
    color: white;
}

.fa-brands {
    color: rgba(2, 0, 36, 1);
}

.mainCadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.cadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.addTeam {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.allTeams {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* From Uiverse.io by 3bdel3ziz-T */
.fieldset {
    --main-color: #4a4d96;
    border: 2px var(--main-color) solid;
    font-size: 0.75rem;
    border-radius: 5px;
    margin: 10px;
}
legend {
    font-size: 1.5rem;
    color: var(--main-color);
}
.fieldset input[type='text'] {
    /* reset the field */
    outline: none;
    border: none;
    background: transparent;

    padding: 0 10px 10px 10px;
    font-size: 1.5rem;
}

/* From Uiverse.io by Cevorob */
button {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #000;
    background: white;
    user-select: none;
    white-space: nowrap;
    transition: all 0.05s linear;
    font-family: inherit;
    margin-bottom: 100px;
}

button:before,
button:after {
    content: '';
    position: absolute;
    background: white;
    transition: all 0.2s linear;
}

button:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
}

button:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
}

button:hover:after {
    width: calc(100% - 32px);
    left: 16px;
}

button span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
}

/* From Uiverse.io by SouravBandyopadhyay */
.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 18rem;
    height: 6rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;
}

.notification:before {
    position: absolute;
    content: '';
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    z-index: 2;
}

.notification:after {
    position: absolute;
    content: '';
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.notification:hover:after {
    transform: translateX(0.15rem);
}

.notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notification:hover .notititle {
    transform: translateX(0.15rem);
}

.notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notification:hover .notibody {
    transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.notiglow {
    z-index: 3;
}

.notiborderglow {
    z-index: 1;
}

.notification:hover .notiglow {
    opacity: 0.1;
}

.notification:hover .notiborderglow {
    opacity: 0.1;
}

.note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
}

#cadTeam1,
#cadTeam2,
#cadTeam3,
#cadTeam4 {
    display: flex;
}
